body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

.container__table {
    width: 100%;
    border-collapse: collapse;
}

.container__table th,
.container__table td {
    border: 1px solid #000;
    padding: 20px 10px;
    text-align: center;
}
